<?xml version="1.0" encoding="UTF-8"?>
<widget id="A6928763054415"  version="0.0.1">
    <name>商城应用</name>
    <description>
        API Example App.
    </description>
    <author email="1015517471@qq.com" href="http://hhsblog.cn">
        Adam
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="windowBackground" value="#FFF" />
    <permission name="call" />
    <feature name="weiXin">
        <param name="urlScheme" value="wx7779c7c063a9d4d9" />
    </feature>
</widget>